<ng-container *ngIf="data">
    <mat-card class="card" [style.width.px]="cardWidth">
        <mat-card-header>
            <!-- <div mat-card-avatar class="avatar" [style.background-image]="avatarLoadFlg?'url(' + avatarURL + ')':''">
            </div> -->
            <img mat-card-avatar class="avatar" [src]="data.images.icon" loading="lazy" appImgErrorHandle>
            <mat-card-title>{{data.name[currentLanguage]}}</mat-card-title>
            <!-- <mat-card-subtitle>{{data.weaponType}}
            </mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content class="content">
            <mat-divider></mat-divider>
            <mat-expansion-panel class="mat-elevation-z0 expand" [expanded]="true" (afterCollapse)="onExpandStatusChanged()" (afterExpand)="onExpandStatusChanged()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span [innerText]="'CHARACTER.PROPS' | translate"></span>
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- レベル選択 -->
                <mat-form-field appearance="legacy" floatLabel="always">
                    <mat-label [innerText]="'PROPS.LEVEL' | translate"></mat-label>
                    <mat-select [(ngModel)]="selectedLevel" (ngModelChange)="onChangeLevel($event)">
                        <ng-container *ngFor="let option of levelOptions">
                            <mat-option [value]="option"
                                [innerText]="(option.levelNum | number: '1.0-0') + (option.isAscend?('PROPS.ASCENDED' | translate):'')">
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <!-- 属性情報 -->
                <table>
                    <tr *ngFor="let prop of props">
                        <td class="content-left" [innerText]="'PROPS.' + prop | translate"></td>
                        <td class="content-right">
                            <span 
                                [innerText]="selectedLevelProps[prop].isPercent?(selectedLevelProps[prop].value | percent: '1.0-1' | noComma):(selectedLevelProps[prop].value | number: '1.0-0' | noComma)"
                                [matTooltip]="selectedLevelProps[prop].value" matTooltipPosition="right">
                            </span>
                        </td>
                    </tr>
                    <ng-container *ngFor="let prop of props_sub">
                        <tr *ngIf="selectedLevelProps[prop] && selectedLevelProps[prop].value != 0">
                            <td class="content-left" [innerText]="'PROPS.' + prop | translate"></td>
                            <td class="content-right">
                                <span 
                                    [innerText]="selectedLevelProps[prop].isPercent?(selectedLevelProps[prop].value | percent: '1.0-1' | noComma):(selectedLevelProps[prop].value | number: '1.0-0' | noComma)"
                                    [matTooltip]="selectedLevelProps[prop].value" matTooltipPosition="right">
                                </span>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </mat-expansion-panel>
            <ng-container *ngIf="allData">
                <mat-expansion-panel class="mat-elevation-z0 expand" [expanded]="true" (afterCollapse)="onExpandStatusChanged()" (afterExpand)="onExpandStatusChanged()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span [innerText]="'CHARACTER.ALLPROPS' | translate"></span>
                        </mat-panel-title>
                        <mat-panel-description>
    
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- 属性情報 -->
                    <table>
                        <ng-container *ngFor="let prop of props_all">
                            <tr *ngIf="allData[prop] != 0">
                                <td class="content-left" [innerText]="'PROPS.' + prop | translate"></td>
                                <ng-container *ngIf="props_all_percent.includes(prop); then percent else value"></ng-container>
                                <ng-template #percent>
                                    <td class="content-right">
                                        <span
                                            [innerText]="allData[prop] | percent: '1.0-1' | noComma"
                                            [matTooltip]="allData[prop] + ''" matTooltipPosition="right">
                                        </span>
                                    </td>
                                </ng-template>
                                <ng-template #value>
                                    <td class="content-right">
                                        <span
                                            [innerText]="allData[prop] | number: '1.0-0' | noComma"
                                            [matTooltip]="allData[prop] + ''" matTooltipPosition="right">
                                        </span>
                                    </td>
                                </ng-template>
                            </tr>
                        </ng-container>
                    </table>
                </mat-expansion-panel>
            </ng-container>
        </mat-card-content>
    </mat-card>
</ng-container>