.card {
    max-width: 400px;
}

.avatar {
    width: 80px;
    height: 80px;
    background-size: cover;
    margin-bottom: 5px;
}

.content {
    padding-top: 2px;
}

.expand {
    margin-top: 1px;
}