.footer {
  flex: 1 1 auto;
  border-top-width: 0.2px;
  border-top-color: gainsboro;
  border-top-style: solid;
  white-space: nowrap;
}

.center{
  margin: 0 auto;
  text-align: center;
  width: 100px;
}

.right {
  float: right;
  width: 400px;
  text-align: right;
}

.left {
  float: left;
  width: 400px;
  text-align: left;
}