<ng-container *ngIf="data.constellations">
    <mat-card class="card" cdkDrag>
        <div class="drap-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                    d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
        </div>
        <mat-card-header>
            <mat-card-title [innerText]="'CHARACTER.CONSTELLATION' | translate"></mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <mat-accordion>
                <ng-container *ngFor="let constellationIndex of constellationNum; index as i">
                    <ng-container *ngIf="getDataProperty(constellationPrefix + constellationIndex)">
                        <mat-expansion-panel class="mat-elevation-z0 expand">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span [innerText]="getDataProperty(constellationPrefix + constellationIndex).name"></span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- 効果情報 -->
                            <span [innerText]="getDataProperty(constellationPrefix + constellationIndex).effect | noStrong"></span>
                        </mat-expansion-panel>
                    </ng-container>
                </ng-container>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</ng-container>