.card {
    max-width: 350px;
    min-width: 350px;
    margin: 10px;
}

.avatar {
    width: 80px;
    height: 80px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 0%;
}

.header-text {
    font-size: inherit;
}

.content {
    padding-top: 2px;
}

.expand {
    margin-top: 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr:first-child .content-left {
    border-top: 1px solid rgba(0, 0, 0, .12);
}

table tr:first-child .content-right {
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.content-left {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.content-right {
    text-align: right;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.content-right-button {
    text-align: center;
    border-bottom: none;
}

.drap-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}