<div class="main">
    <div [@imgLoad]="backgroundLoadFlg?'loaded':'beforeLoad'" class="background" *ngIf="backgroundURL" [style.background-image]="'url(' + backgroundURL + ')'"></div>
    <div class="content" fxLayout="row wrap">
        <app-character class="float" [data]="data" [dataForCal]="dataForCal"></app-character>
        <app-weapon  class="float" [charWeaponType]="data.weapontype"></app-weapon>
        <app-talent  class="float" [data]="data" [dataForCal]="dataForCal"></app-talent>
        <app-constellation  class="float" [data]="data" [dataForCal]="dataForCal"></app-constellation>
    </div>
</div>