<div class="main">
    <div class="background" [style.background-image]="'url(' + backgroundURL + ')'"></div>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <button mat-raised-button color="primary">fdfdfdf</button>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p>dddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
</div>