/* 背景 */
.main {
    height: 100%;
    /* background-position: right; */
    /* background-size: cover; */
    /* opacity: 0.3; */
    /* color: #fff; */
}

.content {
    padding: 16px;
}

.background {
    position: absolute;
    background-position: right top;
    background-size: cover;
    /* opacity: 0.15; */
    z-index: -1;
    height: 100%;
    width: 100%;
}