.container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.container-content {
  display: flex;
  align-items: center;
}

.container-action {
  margin-left: auto;
  margin-right: auto;
}
