<div class="container">
  <h1 mat-dialog-title>{{ data.title| translate:data.titleVal }}</h1>
  <div mat-dialog-content class="container-content">
    <span>{{ data.content | translate:data.contentVal }}</span>
  </div>
  <div mat-dialog-actions class="container-action">
    <button mat-button mat-dialog-close cdkFocusInitial>{{ data.cancel| translate:data.cancelVal }}</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{ data.ok | translate:data.okVal }}</button>
  </div>
</div>