<!-- <p>extra-info works!</p> -->
<!-- if is normal can change the element type -->

<!-- this is the origin skill rate table with extra data -->
<!-- loop the data and use template Ref to show the origin data before the calculate data -->
<!-- <app-extra-data [characterIndex]="data.id"></app-extra-data> -->
<!-- 条件が真の時には「Update」と表示される -->
<ng-container *ngIf="hasLevel; then skills else other"></ng-container>
<!-- 条件が偽の時には「Create」と表示される -->
<ng-template #skills>
    <table>
        <ng-container *ngFor="let paramDesc of getCharSkillDescObject(skill, currentLanguage)">
            <tr>
                <td [innerText]="paramDesc.desc"></td>
                <td [innerText]="getTalentValue(skill, paramDesc, currentLanguage, skillLevelIndex)"
                    [matTooltip]="getTalentValue(skill, paramDesc, currentLanguage, skillLevelIndex, true)" matTooltipPosition="right">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <app-extra-data 
                        [characterIndex]="data.id"
                        [skill]="skill"
                        [valueIndexs]="paramDesc.valuePropIndexs">
                    </app-extra-data>
                </td>
            </tr>
        </ng-container>
    </table>
</ng-template>
<ng-template #other>

</ng-template>