.placeholder {
  height: 2px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 0 auto auto;
}

.grid-column-all {
  grid-column: 1 / 4;
}

.left-align {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  text-align: left;
}

.right-align {
  display: inline-flex;
  justify-content: end;
  align-items: center;
  text-align: right;
}

.grid-wrapper div:nth-of-type(1) .placeholder {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.loop-bottom-div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
