<!-- 条件が真の時には「Update」と表示される -->
<ng-container *ngIf="hasLevel; then skills else other"></ng-container>
<!-- 条件が偽の時には「Create」と表示される -->
<ng-template #skills>
    <table>
        <ng-container *ngFor="let paramDesc of skillDescDatas; index as i">
            <tr>
                <td colspan="2">
                    <div class="placeholder"></div>
                </td>
            </tr>
            <tr>
                <td [innerText]="paramDesc.desc"></td>
                <td [innerText]="showValues[i]"
                    [matTooltip]="tipValues[i]" matTooltipPosition="right">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <app-extra-data
                        [characterIndex]="data.id"
                        [skill]="skill"
                        [valueIndexs]="paramDesc.valuePropIndexs"
                        [overrideElement]="overrideElement">
                    </app-extra-data>
                </td>
            </tr>
        </ng-container>
    </table>
</ng-template>
<ng-template #other>

</ng-template>