<mat-progress-bar
  [mode]="(progressMode | async)!"
  [value]="(progressValue | async)!"
  [bufferValue]="(progressBufferValue | async)!"
></mat-progress-bar>
<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="onClickMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="menu-title" [innerHTML]="'HOME.TITLE' | translate"></span>
  <span class="spacer"></span>
  <app-capture-html></app-capture-html>
  <button mat-icon-button [matMenuTriggerFor]="langSelect">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu class="lang-list" #langSelect="matMenu">
    <ng-container *ngFor="let lang of langs">
      <button mat-menu-item (click)="onClickLang(lang)">
        {{ lang.displayName }}
      </button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
