.menu-title {
  margin-left: 4px;
  margin-top: 2px;
  font-size: large;
  font-weight: 500;

  padding: 0.1em 0.5em 0.04em 0.5em;
  margin-right: 10px;

  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.lang-list {
  text-align: left;
}

.mat-progress-bar {
  height: 2px;
  z-index: 11;
}

:host ::ng-deep .mat-progress-bar-fill::after {
  background-color: #3f51b5b4;
}

.logo {
  height: 30px;
  margin: 0 7px 3px 0;
  vertical-align: middle;
}

/* 背景 */
/* .mat-toolbar {
  background: url('') no-repeat center;
  background-size: cover;
  color: #fff;
} */

.github {
  transform: scale(0.9);
}
