/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'material-icons/iconfont/material-icons.css';
@font-face {
  font-family: shicon;
  src: url(assets/icons/shicon.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-progress-bar .mat-progress-bar-buffer {
  background: #e4e8eb;
}

.skill-icon {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.5em;
  border-radius: 50%;
  vertical-align: middle;
}