table {
    width: 100%;
    margin-left: 5px;
    word-break: break-all;
    border-left: 2px solid rgba(0,0,0,.12);
    border-right: 2px solid rgba(0,0,0,.12);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 3px;
}

table tr:first-child td {
    border-top: 2px solid rgba(0,0,0,.12);
}

table tr:last-child td {
    border-bottom: 2px solid rgba(0,0,0,.12);
}

tr td:nth-of-type(1) {
    text-align: left;
    /* border-bottom: 1px solid rgba(0,0,0,.12); */
}

tr td:nth-of-type(2) {
    text-align: right;
    /* border-bottom: 1px solid rgba(0,0,0,.12); */
}

.no-scroll-div {
    padding-right: 11px;
}

.scroll-div {
    padding-right: 5px;
    max-height: 9.48em;
    overflow-y: scroll;
}

.scroll-div::-webkit-scrollbar {
    width: 5px;
}

.scroll-div::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: grey;
}

.scroll-div {
    overflow-x: hidden;
}