table {
    width: 100%;
    margin-left: 5px;
    word-break: break-all;
    border-left: 2px solid rgba(0,0,0,.12);
    border-right: 2px solid rgba(0,0,0,.12);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 3px;
}

table tr:first-child td {
    border-top: 1px solid rgba(0,0,0,.12);
}

table tr:last-child td {
    border-bottom: 1px solid rgba(0,0,0,.12);
}

tr td:nth-of-type(1) {
    text-align: left;
    /* border-bottom: 1px solid rgba(0,0,0,.12); */
}

tr td:nth-of-type(2) {
    text-align: right;
    /* border-bottom: 1px solid rgba(0,0,0,.12); */
}

.no-scroll-div {
    padding-right: 11px;
}

.scroll-div {
    padding-right: 11px;
    /* max-height: 9.48em; */
    /* overflow-y: scroll; */
}

.no-scroll-div table tr span {
    cursor: default;
}

.scroll-div table tr span {
    cursor: default;
}

.clickable table tr,
.clickable table tr span{
    cursor: pointer !important;
}

table {
    margin-bottom: 2px;
}

.damage-type-container {
    display: flex;
    align-items: center;
}

.scroll-div::-webkit-scrollbar {
    width: 5px;
}

.scroll-div::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: grey;
}

.scroll-div {
    overflow-x: hidden;
}

.icon {
    vertical-align: middle;
    font-size: 14px;
}

.common-echarts {
    padding-top: 6px;
    height: 500px;
}

.calc-process-echarts {
    padding-top: 6px;
    padding-bottom: 6px;
    height: 270px;
}

.float-add {
    float: right;
}

.dps-add-icon {
    padding-right: 4px;
}

.hide-btn {
    margin-left: 5px;
    width: 99%;
}

:host ::ng-deep .mat-button-toggle-group {
    justify-content: center;
}

.toogle-btn {
    width: 100%;
}

:host ::ng-deep .mat-button-toggle-checked {
    color: rgba(0,0,0,.26);
    background: #fff;
}

:host ::ng-deep .mat-button-toggle-label-content {
    line-height: unset;
}