<ng-container *ngIf="data.skills.normal.name">
    <mat-card class="card" [style.width.px]="cardWidth">
        <mat-card-header>
            <mat-card-title [innerText]="'TEAM.NAME' | translate"></mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <mat-divider></mat-divider>
            <div class="teams" *ngFor="let i of listIndex">
                <app-chara-option
                    [charaIndex]="memberIndexes[i]!"
                    [currentLanguage]="currentLanguage"
                    [onlyPic]="true"
                    [useIndex]="true"
                    class="avater"
                >
                </app-chara-option>
                <app-mat-filtering-selector
                    [title]="'TEAM.MEMBER_NAME'"
                    [model]="memberIndexes[i]!"
                    (modelChange)="onSelectTeamMember($event, i)"
                    [originList]="memberList"
                    [optionValueProperty]="'index'"
                    [isCharaInfo]="true"
                    [optionInnerTextProperty]="'names'"
                    [hasBlankOption]="true"
                    [currentLanguage]="currentLanguage">
                </app-mat-filtering-selector>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>