.card {
    max-width: 350px;
    min-width: 290px;
    margin: 12px;
    transition: box-shadow 500ms;
}

.header-text {
    font-size: inherit;
}

:host ::ng-deep .prop-field mat-form-field {
    width: 280px;
}

.avater {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.6rem;
}

.teams {
    margin: 0.5em 1em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
}