<ng-container *ngIf="data.skills.normal.name">
    <mat-card class="card" [style.width.px]="cardWidth">
        <mat-card-header>
            <mat-card-title [innerText]="'TEAM.NAME' | translate"></mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <mat-divider></mat-divider>
            <app-mat-filtering-selector
                [title]="'TEAM.MEMBER_NAME'"
                [model]="selectedEnemyIndex"
                (modelChange)="onSelectEnemy($event)"
                [originList]="enemyList"
                [optionValueProperty]="'index'"
                [optionInnerTextProperty]="'names'"
                [selectedDispalyProperty]="'name'"
                [service]="characterService"
                [currentLanguage]="currentLanguage">
            </app-mat-filtering-selector>
        </mat-card-content>
    </mat-card>
</ng-container>