<div fxLayout="column" class="main">
  <app-head
    class="head"
    [langs]="langs"
    (langSelectEvent)="changeLang($event)"
    (menuButtonClickEvent)="toggleMenu()"
  ></app-head>
  <mat-sidenav-container fxFlex="grow">
    <mat-sidenav
      [mode]="isLargeFlg ? 'side' : 'over'"
      [opened]="menuOpenStatus"
      class="menu-container"
    >
      <app-menu class="menu" (menuClickEvent)="closeMenu($event)"></app-menu>
    </mat-sidenav>
    <div [id]="captureElementID">
      <router-outlet class="outlet">
        <app-paste-event-listener
          (pastedImage)="addPastedImage($event)"
        ></app-paste-event-listener>
        <app-artifact-list #artifactList></app-artifact-list>
        ????????
      </router-outlet>
    </div>
  </mat-sidenav-container>
  <app-footer class="footer"></app-footer>
</div>
