.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.head {
  z-index: 10;
}

.menu {
  z-index: 9;
}

.outlet {
  z-index: 1;
  min-height: 100%;
  height: auto;
}

.footer {
  z-index: 2;
}

.menu-container {
  flex: 1;
}

/* .menu-sidenav {

} */

:host ::ng-deep .menu-sidenav > div:first-child::-webkit-scrollbar {
  width: 5px;
}

:host ::ng-deep .menu-sidenav > div:first-child::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.6);
}

:host ::ng-deep .menu-sidenav > div:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* .sidenav-content {

} */

.sidenav-content::-webkit-scrollbar {
  width: 9px;
}

.sidenav-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: grey;
}

::ng-deep .card {
  border-radius: 10px !important;
}

::ng-deep .mat-expansion-panel {
  border-radius: 10px !important;
}
